* {
    padding: 0px;
    margin: 0px;
}


.container {
    width: 600px;
    height: 600px;
    padding: 100px;
    background-color: blue;
}

.parent {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 50px;
    background-color: yellow;

}

.child {
    position: absolute;
    top: 0px;
    width: 100%;
    /* width: 200px; */
    height: 200px;
    /* padding: 20px; */
    background-color: red;
}